$main-color: #FFF
$light-color: #CCC
// $light-color-2: #F3FCFF
// $white-color:#FFF
//$black-color: 
$dark-color-1: #777
$dark-color-2: #333
$dark-color-3: #455A64
$dark-color-4: #222
$dark-color-5: #838383
// $dark-color-6: #393939
// $dark-color-7: #2E2E2E
// $dark-color-8: #323232
// $dark-color-9: #8F8F8F
$bright-color: #FF5B5B
$bright-color-2: #E54646
// $bright-color-3: #FE9C69

$roboto-reg: 'Roboto-Regular' //400
$roboto-m: 'Roboto-Medium' //500
$roboto-b: 'Roboto-Bold' //700
$roboto-bi: 'Roboto-BoldItalic' //700i
$roboto-bl: 'Roboto-Black' //900





