.promo
    background-color: $dark-color-4
    padding-bottom: 195px
    padding-top: 181px
    &__wrap        
    &__title
        color: $main-color
        font-family: $roboto-bl
        font-size: 110px
        line-height: 100%
        letter-spacing: -4px
        max-width: 829px
    &__text  
        color: $main-color
        font-family: $roboto-reg
        font-size: 18px
        line-height: 150%
        max-width: 727px
        padding-top: 12px        
.skills
    padding-top: 176px
    padding-bottom: 151px
    &__wrap
        display: flex        
        gap:275px
    &__left
        display: flex
        flex-direction: column
        justify-content: flex-start
        gap: 109px
        flex-basis: 493px 
    &__right
        display: flex
        flex-direction: column
        justify-content: flex-start
        gap: 109px
.expertise
    padding-bottom: 300px
    &__wrap
    &__title
        color: $dark-color-2
        font-family: $roboto-bl
        font-size: 32px
        line-height: 100%
        text-transform: uppercase
        text-align: center
        padding-bottom: 96px
    &__content-wrap                                 
        display: flex
        gap: 205px        
.portfolio
    padding-bottom: 196px
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        text-align: center        
    &__title
        color: $dark-color-2
        font-family: $roboto-reg
        font-size: 16px
        line-height: 170%
        text-transform: uppercase
        letter-spacing: 5px
        padding-bottom: 38px        
    &__subtitle
        color: $dark-color-2
        font-family: $roboto-bl
        font-size: 48px
        line-height: 100%        
        max-width: 580px
        padding-bottom: 45px
    &__text
        color: $dark-color-2
        font-family: $roboto-reg
        font-size: 18px
        line-height: 100%
        padding-bottom: 117px
        max-width: 527px        
.testimonials
    padding-bottom: 190px
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        text-align: center    
    &__title
        color: $dark-color-2
        font-family: $roboto-reg
        font-size: 16px
        line-height: 170%
        text-transform: uppercase
        letter-spacing: 5px
        padding-bottom: 76px
    &__quote
        max-width: 829px    
    &__text
        color: $dark-color-2
        font-family: $roboto-m
        font-size: 32px
        line-height: 160%
        padding-bottom: 20px         
.experience
    padding-bottom: 211px
    &__wrap
        display: flex        
        justify-content: space-between
    &__info-card
        display: flex
        flex-direction: column
    &__title
        color: $dark-color-2
        font-family: $roboto-b
        font-size: 28px
        line-height: 96%
        letter-spacing: -1.4px
        text-transform: uppercase
        padding-bottom: 119px  
    &__date
        color: $dark-color-2
        font-family: $roboto-bl
        font-size: 64px
        line-height: 100%
        padding-bottom: 14px        
.contactme
    background-color: $dark-color-4
    padding-bottom: 200px
    padding-top: 189px
    &__wrap
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__content
        max-width: 464px
    &__title        
        color: $main-color
        font-family: $roboto-bl
        font-size: 48px
        line-height: 100%
        padding-bottom: 30px   
        &_accent
            text-decoration-line: underline 
    &__text 
        color: $light-color
        font-family: $roboto-reg
        font-size: 18px
        line-height: 150%                             
.cards 
    display: grid
    grid-template-columns: repeat(3,1fr)
    column-gap: 33px
    row-gap: 24px
.card
    display: flex
    flex-direction: column
    justify-content: center    
.form
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 7px
    row-gap: 5px
    &__input
        background: rgba(241, 241, 241, 0.10)
        border: none
        height: 50px
        color: $dark-color-5
        font-family: $roboto-reg
        font-size: 15px
        line-height: 100%    

